body {
    font-family: sans-serif;
    background-color: azure;
}
 
.title {
    text-align: center;
}

.slider {
    display: block;
    margin: auto;
    align-content: center;
}

.test {
    display: block;
    margin: auto;
    align-content: center;
}

.flex-container {
  display: flex;
  background-color: azure;
}

.flex-container > div {
  background-color: azure;
  margin: 2px;
  padding: 2px;
  font-size: 30px;
}

div#choropleth{
  text-align:center;
  align-items:center;
}
.county{
  stroke: rgba(11,156,49, .2)
}
#title{
  font-size:1.5rem;
}

#tooltip{
  position:absolute;
  background:rgba(0, 0, 0, 0.6);
  color:white;
  padding:5px;
  border-radius:10px;
}
a:hover{
  text-decoration:none;
}
#about{
  max-width:992px;
}
#source a{
  fill:blue;
}
#choropleth{
  overflow-x:scroll;
}