body {
    font-family: sans-serif;
    background-color: azure;
}
 
.title {
    text-align: center;
}

.slider {
    display: block;
    margin: auto;
    align-content: center;
}

.test {
    display: block;
    margin: auto;
    align-content: center;
}